.nav-link{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    margin-left: 10%;
    color: white;
    font-size: 30px;
}

.nav-link:hover{
    color: blueviolet;
}

.nav-header{
    text-align: center;
}

header{
    background-color: black;
}

h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.remind_title{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}

.thanks{
    margin-top: 20px;

}

h2{
    text-align: center;
    margin: 0 60px 0 60px;
    font-family: 'Merriweather', serif;
    font-weight: 1000;
}

.shop_pic{
    width: 40%;
}
p{
    float: right;
    width: 58%;
    margin: 0 10px;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}
.shop_pics{
    width: 22%;
    margin-right: 20px;
}

.footer-payment-icons{
    text-align: center;
    margin-top: 30px;
}
.subscribe{
    text-align: center;
    background-color: black;
    color: white;
    margin: 10px 0 0 0;
}
button{
    cursor: pointer;
}

/* contact special css */
/* .sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a{
    color: #34d2eb;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    text-decoration: none;
}

.sm a:hover{
    color: #e66767;

} */

/* footer */
footer{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.footer_test {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background-color: #333;
    color: #efefef;
    display: flex;
}

.footer_test div{
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer_test div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.col-1 a:hover{
    color: #e66767;
}

form input {
    width: 300px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover{
    color: #e66767;
}

.social_media{
    display:inline-block;
    justify-content: center;
    margin-top: 30px;
}

.social_media i{
    /* 
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    margin: 10px; */
    color: white;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.social_media i:hover{
    color: #e66767;
}