.nav-link{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    margin-left: 10%;
    color: white;
    font-size: 30px;
}

.nav-link:hover{
    color: blueviolet;
}

.nav-header{
    text-align: center;
}

header{
    background-color: black;
}

.footer-payment-icons{
    text-align: center;
    margin-top: 30px;
}
.subscribe{
    text-align: center;
    background-color: black;
    color: white;
    margin: 10px 0 0 0;
}

.product li{
    float: left;
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #ffffff;
    position: relative;
    transition: all .2s linear;
}
.pro-img{
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.pro-img a{
    width: 100%;
    height: 100%;
}
.pro-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.product li h3{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    
}
.product li h3 a{
    color: #e33333;
    text-decoration: none;
}
.desc{
    margin: 0 10px 10px;
    height: 18px;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.price{
    font-size: 14px;
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.price del{
    color: #b0b0b0;
}
.review{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 234px;
    font-size: 12px;
    background: #ff6700;
    transition: all .2s linear;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.review a{
    color: #757575;
    display: block;
    padding: 8px 30px;
    outline: 0;
    text-decoration: none;
    font-size: 10px;
}
.review a span{
    display: block;
    margin-bottom: 5px;
    color: #fff;

}
.product li:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}
.product li:hover .review{
    opacity: 1;
    height: 76px;
}
ul{
    list-style: none;
}
/* footer */
footer{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.footer_test {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background-color: #333;
    color: #efefef;
    display: flex;
}

.footer_test div{
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer_test div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.col-1 a:hover{
    color: #e66767;
}

form input {
    width: 300px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover{
    color: #e66767;
}

.social_media{
    display:inline-block;
    justify-content: center;
    margin-top: 30px;
}

.social_media i{
    /* 
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    margin: 10px; */
    color: white;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.social_media i:hover{
    color: #e66767;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.address p {
    font-size: 14px;
}
